:root {
  --primary-color: rgb(131, 78, 210);
  --secondary-color: #381073;
  --alternative-color: rgb(220, 200, 223);
  --border: 1px solid var(--primary-color);
  --background-gradient: linear-gradient(
    270deg,
    rgba(60, 55, 190, 0.3) 3.2%,
    rgba(217, 138, 238, 0.3) 90.3%
  );
}

body {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}

.hero {
  background: var(--background-gradient);
}

.navigation-links {
  display: flex;
  text-decoration: none;
  padding: 20px;
  justify-content: center;
}

.navigation-links a {
  border: var(--border);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white;
}

.navigation-links a:hover {
  background-color: var(--alternative-color);
  color: white;
  border: none;
}

.app-about {
  font-size: 18px;
  text-align: left;
}
h2 {
  margin-top: 40px;
}

footer {
  padding: 20px 10px;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none;
  padding: 12px;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: var(--alternative-color) !important;
  color: white !important;
  border: none;
}
