:root {
  --violet: #834ed2;
  --dark-violet: #381073;
  --dark-navy: #020c1b;
  --light-purple: rgb(220, 200, 223);
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --blue: #57cbff;
  --green: #64ffda;
  --border: 1px solid var(--green);
  --box-shadow: 4px 4px 0 0 var(--green);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --background-gradient: linear-gradient(90deg, #020c1b 3.2%, #381073 90.3%);
}
.navbar {
  background: var(--dark-navy) !important;
}

.navbar a {
  color: var(--lightest-slate) !important;
}

.navbar a:hover {
  color: var(--green) !important;
}

.navbar-toggler {
  background: var(--green);
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--dark-navy);
  padding-inline-start: 40px;
}

.hero {
  line-height: 37px;
  margin: 40px 10px;
}

.hero-hello {
  font-family: monospace;
  font-size: 16px;
  margin-top: 10px;
  color: var(--green);
}

.hero-name {
  color: var(--lightest-slate);
}

.hero-purpose {
  color: var(--light-slate);
}

.hero-description-long {
  color: var(--lightest-slate);
  margin: 20px 0px 20px;
  max-width: 540px;
}
.focus-word {
  color: var(--green);
}

.general-button {
  text-decoration: none;
  border: var(--border);
  border-radius: 4px;
  color: var(--green);
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.button-section {
  margin: 40px 0px 20px;
}

.general-button:hover {
  box-shadow: var(--box-shadow);
  transform: translate(-5px, -5px);
  transition: var(--transition);
}
.app-title {
  color: var(--white);
}
.app-about {
  color: var(--white);
  font-size: 16px;
  text-align: left;
}

footer {
  padding: 20px 10px;
  color: var(--light-slate);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--green);
}

.page-title-general {
  color: var(--white);
  text-align: center;
}
.card {
  border: var(--border);
}

.card-body {
  background: var(--dark-navy);
  color: var(--white);
}

.about-page {
  color: var(--white);
}

.about-page a {
  text-decoration: none;
  color: var(--green);
}
